@model ITCommunityCRM.Data.Models.Event

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    Вадим где вьюха?
    <h4>Group</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
    </dl>
</div>

<form asp-action="Registration">
    <input class="text-hide" name="Id" value="@Model?.Id" />
    <button type="submit" class="btn bg-green">Registration</button>
</form>
<div>
    <a asp-action="Registration" asp-route-id="@Model?.Id">Registration as anon</a>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
